/* *{
    background-color: #19002E;
    padding: 0px;
    margin: 0px;
    border: 0px;

}
.com{
    display: flex;
    margin-left: 70px;
    width: 75px;
    height: 60px;
}
h1{
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 20px;
}
.um{
    margin-top: 25px;
    width: 75px;
    height: 60px;
}
.raizicom{
    display: flex;
}
.icom{
    margin-top: 100px;
    margin-left: 107px;
}
h2{
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 9px;
} */